[submodule "teachProject/nextjs_ai_orchestration_spec_sprint_process"]
	path = teachProject/nextjs_ai_orchestration_spec_sprint_process
	url = https://github.com/kaw393939/nextjs_ai_orchestration_spec_sprint_process.git
